/**/

@theme {
  /*
  * =========================== EFFECT COLOURS ===========================
  * - List of all hex-code colours that are used for the glow border effect.
  * - Each colour is associated with a particular instance in the site.
  * - For example `--color-effect-glow-patrons` is the glow border effect colour for all patron related elements.
  * - Patrons is the combination of contributors and benefactors. 
  */
  --color-effect-glow-brand: #00ccff;
  --color-effect-glow-courses: #22ff00;
  --color-effect-glow-blog: #b026ff;
  --color-effect-glow-patrons: #5fa8c7;
  --color-effect-glow-default: #7c3aed;

  /*
  * =========================== auxiliary COLOURS ===========================
  * - List of all hex-code colours for auxiliary colours.
  * - These colours are not bound by theme.
  * - They used for elements like disclaimers and policies.
  * - The colours remain consistent regardless of theme/mode change. 
  */
  --color-auxiliary-red-tint: #fee6e6;
  --color-auxiliary-red-neutral: #f40009;
  --color-auxiliary-red-shade: #180001;
  --color-auxiliary-purple-tint: #aca8f5;
  --color-auxiliary-purple-neutral: #9b96f4;
  --color-auxiliary-purple-shade: #060080;
  --color-auxiliary-green-tint: #e0fbe2;
  --color-auxiliary-green-neutral: #02ff03;
  --color-auxiliary-green-shade: #004200;
  --color-auxiliary-blue-tint: #caefeb;
  --color-auxiliary-blue-neutral: #40b5ad;
  --color-auxiliary-blue-shade: #0c302b;
  --color-auxiliary-orange: #e67e22;
  --color-auxiliary-yellow: #fdc700;
  --color-auxiliary-white: #d9f7ff;
  --color-auxiliary-black: #00141a;
  --color-auxiliary-grey-one: #4b4d4d;
  --color-auxiliary-grey-two: #a4aaac;

  /*
  * =========================== MODE BASED TOKENS ===========================
  * - List of variable tokens that will change colour application based mode/theme.
  * - In light mode they use the variables listed under root in base.
  * - In dark mode they use the variables listed under dark in base.
  */
  --color-site-background: var(--bg-background);
  --color-site-foreground: var(--bg-foreground);
  --color-site-inverseForeground: var(--bg-inverse-foreground);
  --color-site-hoverElement: var(--bg-hoverElement);
  --color-site-baseElementColor: var(--text-baseElementColor);
  --color-site-inverseBaseElementColor: var(--text-inverseBaseElementColor);
  --color-site-mutedElementColor: var(--text-mutedElementColor);
  --color-site-inverseMutedElementColor: var(--text-inverseMutedElementColor);
  --color-site-borderOutline: var(--border-borderOutline);
  --color-site-inverseBorderOutline: var(--border-inverseBorderOutline);
  --gradient-site-background-general: var(--gradient-background-general);

  --color-site-general: var(--color-general);
  --color-site-courses: var(--color-courses);
  --color-site-blog: var(--color-blog);
  --color-site-patrons: var(--color-patrons);
}

@layer base {
  :root {
    /*
    * =========================== LIGHT MODE COLOURS ===========================
    * - List of all hex-code colours for websites light mode.
    */
    color-scheme: light;

    /*
    * =========================== BASE COLOURS ===========================
    * - Hex-codes for blacks, whites and brand colours used in light mode.
    */
    --color-general: #22525e;
    --color-courses: #2a5e22;
    --color-blog: #350b40;
    --color-patrons: ##dce6ec;

    --bg-background: #f8f9fa;
    --bg-foreground: #ebf3f5;
    --bg-inverse-foreground: #071012;
    --bg-hoverElement: #c4cacc;
    --text-baseElementColor: #000a0d;
    --text-inverseBaseElementColor: #f8f9fa;
    --text-mutedElementColor: #2b2d2d;
    --text-inverseMutedElementColor: #c4cacc;
    --border-borderOutline: #928f9f;
    --border-inverseBorderOutline: #4c6061;

    --gradient-background-general: linear-gradient(135deg, var(--bg-foreground), var(--color-auxiliary-white));
  }

  .dark {
    /*
    * =========================== DARK MODE COLOURS ============================
    * - List of all hex-code colours for websites dark mode.
    */
    color-scheme: dark;
    /*
    * =========================== BASE COLOURS ===========================
    * - Hex-codes for blacks, whites and brand colours used in dark mode.
    */
    --color-general: #51c4e0;
    --color-courses: #64e051;
    --color-blog: #d07dff;
    --color-patrons: #ffd933;

    --bg-background: #000a0d;
    --bg-foreground: #071012;
    --bg-inverse-foreground: #ebf3f5;
    --bg-hoverElement: #2b2d2d;
    --text-baseElementColor: #f8f9fa;
    --text-inverseBaseElementColor: #000a0d;
    --text-mutedElementColor: #c4cacc;
    --text-inverseMutedElementColor: #2b2d2d;
    --border-borderOutline: #4c6061;
    --border-inverseBorderOutline: #928f9f;

    --gradient-background-general: linear-gradient(135deg, var(--bg-foreground), var(--color-auxiliary-black));
  }

  body {
    background-color: var(--bg-background);
    color: var(--text-baseElementColor);
  }
}
